<nav class="navbar navbar-expand-sm navbar-dark bg-secondary "stickyClass="sticky-box-shadow" ngStickyNav>
    <a class="navbar-brand" href="">home</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
            </li>
           <li class="nav-item active">
            <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
           </li>
        </ul>
        <div  style="margin-left: auto;margin-right: auto;"  class="form-inline w-50 ">
            <input class="form-control mr-sm-2" size="70px" type="search" placeholder="Search"  aria-label="Search" >
        </div>
    </div>
    
    <div class="form-inline my-2 my-lg-0" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Log In <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span (click)="LogOut()"></span>
    </div>
</nav>