<div class="row"  style="background-color: buttonface">
    <div class="col-md-6 mx-auto" >
        <div class="list-group ">
            <a  *ngFor="let subject of resultsubject" style="margin-bottom: 10px" href="" class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                <div class="d-flex w-100 justify-content-between">
                    <div>
                        <div class="d-flex w-100 align-items-center">
                            <!--<img src="../../assets/img/theme/team-1.jpg" alt="Image placeholder" class="avatar avatar-xs mr-2" />
                            -->
                            <h5  class="mb-1">{{subject.title_subject}}</h5>
                        </div>
                    </div>
                    <div>
                        <form   method="get"><!-- th:action="'/Subject/voteUp'+${subject.getId()}"-->
                            <button  class="btn btn-outline-primary btn-sm"  >
                                <i class="fas fa-arrow-up"></i>
                            </button>
                        </form>
                        <div>
                            <small  >{{subject.vote}}</small>
                        </div>
                        <form method="get"><!-- th:action="'/Subject/voteUp'+${subject.getId()}"-->
                            <button  class="btn  btn-outline-danger btn-sm"  >
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </form>
                    </div>

                </div>
                <p  class="text-sm mb-0">{{subject.description_subject}}  </p>
                <button  style="margin-top: 10px"  class="btn btn-link btn-sm"  >
                    <i class="fas fa-comment"></i>
                    <span >{{subject.comments.length}}</span>
                </button>
            </a>
        </div>
    </div>
</div>